@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_NavUserTools" />
}
else
{
    <ul class="navbar-nav navbar-nav-icons flex-row">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <span data-feather="power" style="height:20px;width:20px;"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <span data-feather="user-plus" style="height:20px;width:20px;"></span>
            </a>
        </li>
    </ul>
}
