@inject SignInManager<ApplicationUser> SignInManager

<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="dualNav" style="display:none;">
    <div class="w-100">
        <div class="d-flex flex-between-center dual-nav-first-layer">
            <partial name="_NavBrand" />
            <partial name="_NavSearchBox" />
            <partial name="_LoginPartial" />
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse justify-content-center" id="navbarTopCollapse">
            <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lh-1" href="#!"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <span class="uil fs-0 me-2 uil-home"></span>Home
                    </a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        <li>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="home"></span>Home
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Members" asp-action="Dashboard">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="pie-chart"></span>Dashboard
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="#!" aria-expanded="false">
                        <span class="uil fs-0 me-2 uil-heartbeat"></span>Causes
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                        <span class="uil fs-0 me-2 uil-check-square"></span>Projects
                    </a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Members" asp-action="Projects" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value">
                                    <div class="dropdown-item-wrapper">
                                        <span class="me-2 uil" data-feather="clipboard"></span>My Projects
                                    </div>
                                </a>
                            </li>
                        }
                        <li>
                            <a class="dropdown-item" asp-controller="Projects" asp-action="Index">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="check-square"></span>All Projects
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                        <span class="uil fs-0 me-2 uil-life-ring"></span>Volunteer
                    </a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        <li>
                            <a class="dropdown-item" asp-controller="Positions" asp-action="Index">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="life-buoy"></span>Help wanted
                                </div>
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Members" asp-action="Applications" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value">
                                    <div class="dropdown-item-wrapper">
                                        <span class="me-2 uil" data-feather="file-text"></span>My Applications
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    var navbarVertical = document.querySelector('.navbar-vertical');
    navbarVertical.remove();
    dualNav.removeAttribute('style');
</script>