@model IEnumerable<Position>

@{
    ViewData["Title"] = "Positions";
}

@section Stylesheets {
@* <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet"> *@
}

<div class="content">
    <div class="row">
        <div class="col-3">
            <partial name="Projects/_ProjectFilter" />
        </div>
        <div class="col-9">
            @await Html.PartialAsync("Positions/_PositionList")
        </div>
    </div>
    <partial name="_Footer" />
</div>
<vc:save-applicant></vc:save-applicant>

@section VendorScripts {
@* <script src="~/vendors/echarts/echarts.min.js"></script> *@
}

@section CustomScripts {
<script src="~/js/app.js"></script>
<script>
   getPositionDetails();
   saveApplicant();
</script>
}