@model IEnumerable<GroupedTasksModel>

@foreach (var group in Model)
{
    @foreach (var subtask in group.Subtasks)
    {
        <div class="px-2 px-sm-3 py-3 border-300 notification-card position-relative read">
            <div class="d-flex align-items-center justify-content-between position-relative">
                <div class="d-flex">
                    <div class="status-online me-3">
                        <input class="form-check-input" type="checkbox" checked="@subtask.IsSelected" value="@subtask.Value" name="SelectedTasks">
                    </div>
                    <div class="flex-1 me-sm-3">
                        <div class="flex-1 me-sm-3">
                            <h4 class="fs--1 text-black">@subtask.Text</h4>
                            <span class="me-1 fs--2 fas fa-square-check"></span>@group.Task!.Name
                        </div>
                        <p class="text-800 fs--2 mb-0">
                            <span class="me-1 fas fa-clock"></span>
                            <span class="fw-bold">10:41 AM </span>August 7,2021
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}
