@model IEnumerable<TeamMember>

<div class="row g-3">
    @foreach(var item in Model) 
    {
        <div class="col-2">
            <div class="">
                <img class="rounded-circle w-100" src="~/media/members/@item.Member!.ProfileImage" alt="" />
            </div>
        </div>
    }
    <div class="col-2">
        <div class="">
            <img class="rounded-circle w-100" src="~/assets/img/team/72x72/58.webp" alt="" />
        </div>
    </div>
    <div class="col-2">
        <div class="">
            <img class="rounded-circle w-100" src="~/assets/img/team/72x72/20.webp" alt="" />
        </div>
    </div>
</div>