@model AddTeamMemberModel

<div class="modal fade" id="volunteerModal" tabindex="-1" aria-labelledby="volunteerLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="volunteerLabel">Add Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-member-form" method="post">
                    <input asp-for="TeamId" type="hidden" value="@Model.TeamId" />

                    <div class="mb-3">
                        <label asp-for="Role" class="control-label">Role</label>
                        <input class="form-control" asp-for="Role"  placeholder="User's role on team" />
                    </div>

                    
                    @foreach (var item in Model.Volunteers)
                    {
                        <div class="form-check form-check-inline p-0">
                            <input class="form-check-input opacity-0" id="MemberId_@item.Value" asp-for="MemberId" type="radio" value="@item.Value" />
                            <label class="btn btn-outline-primary control-me" for="MemberId_@item.Value">
                                <div class="avatar avatar-m">
                                    <img class="rounded-circle" src="~/@item.UserPhoto" alt="" />
                                </div>
                                @item.Text
                            </label>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="add-member-form" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>