@model Team

<div class="mb-5">
    <div class="d-flex justify-content-between">
        <h2 class="text-black fw-bolder mb-2">@Model.Name Team</h2>
        <div class="font-sans-serif btn-reveal-trigger">
            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                <span class="fas fa-ellipsis-h"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item text-danger" href="#!">Delete</a>
                <a class="dropdown-item" href="#!">Download</a>
                <a class="dropdown-item" href="#!">Report abuse</a>
            </div>
        </div>
    </div>
</div>