@model IEnumerable<TeamMember>

<div class="mb-3">
    <div class="d-flex pb-4 align-items-end">
        <h3 class="flex-1 mb-0">Team</h3>
        <a class="fw-bold fs--1 me-4" href="#!">Reassign</a>
    </div>
    <div class="row g-3">
        @foreach(var item in Model) 
        {
            <div class="col-4">
                <img class="w-100 rounded-3" src="~/media/members/@item.Member!.ProfileImage" alt="" />
            </div>
        }
    </div>
</div>