<div class="card" >
    <div class="card-header border-bottom-0 pb-0">
        
    </div>
    <div id="task-list" class="card-body py-0 scrollbar overflow-scroll" style="max-height:50rem;">
        
    </div>
    <div class="card-footer border-0">
        <p>Footer</p>
    </div>
</div>