<div class="card" >
    <div class="card-header border-bottom-0 pb-0">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    <div class="nav nav-divider">
                        <h4 class="nav-item card-title mb-0"> 
                            Title
                        </h4>
                    </div>
                </div>
            </div>
            <div class="btn-reveal-trigger">
                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                    <span class="fas fa-ellipsis-h"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">Edit</a>
                    <a class="dropdown-item text-danger" href="#!">Delete</a>
                    <a class="dropdown-item" href="#!">Download</a>
                    <a class="dropdown-item" href="#!">Report abuse</a>
                </div>
            </div>
        </div>
    </div>
    <div id="ticket-details" class="card-body">
        <div class="row g-4 g-xl-6">
            <div class="col-xl-5 col-xxl-4 border-end">
                <div class="sticky-leads-sidebar">
                    <div class="row align-items-center g-3 mb-3 border-2 border-dashed pb-4 border-bottom">
                       ...
                    </div>
                    ...
                </div>
            </div>
            <div class="col-xl-7 col-xxl-8">
                ...
            </div>
        </div>
    </div>
    <div class="card-footer border-0">
        <p>Footer</p>
    </div>
</div>