<ul class="nav nav-underline deal-details scrollbar flex-nowrap w-100 pb-1 mb-6" id="myTab" role="tablist" style="overflow-y: hidden;">
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link active" id="1-tab" data-bs-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-info-circle me-2 tab-icon-color"></span>Details
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="2-tab" data-bs-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-crosshairs me-2 tab-icon-color"></span>Tasks
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="3-tab" data-bs-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-clock me-2 tab-icon-color"></span>Timesheet
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="4-tab" data-bs-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Notes
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="5-tab" data-bs-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="true"> 
            <span class="fa-solid fa-calendar me-2 tab-icon-color"></span>Meetings
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="6-tab" data-bs-toggle="tab" href="#tab-6" role="tab" aria-controls="tab-6" aria-selected="true"> 
            <span class="fa-solid fa-paperclip me-2 tab-icon-color"></span>Attachments
        </a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
        ...
    </div>
    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
        ...  
    </div>
    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
        ...
    </div>
    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
        ...
    </div>
    <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="5-tab">
        ...
    </div>
    <div class="tab-pane fade" id="tab-6" role="tabpanel" aria-labelledby="6-tab">
        ...
    </div>
</div>