@model Objective

@{
    ViewData["Title"] = "Objectives";
}

@section Stylesheets {
<link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<div class="content px-0" style="padding-top: 7rem">
    <div class="row g-0">
        <div class="col-12 col-xxl-8 px-0 bg-soft">
            <div class="px-4 px-lg-6 pt-6 pb-9">
                <div class="row gx-0 gx-sm-5 gy-3 mb-3">
                    <div class="col-12 col-xl-3 col-xxl-4 pe-xl-0">
                        @await Html.PartialAsync("Objectives/_ObjectiveInfoCard", Model)
                    </div>
                    <div class="col-12 col-xl-9 col-xxl-8">
                        <div class="card card-body">
                            @await Html.PartialAsync("Projects/_ProjectDetailsTaskChart")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_Footer" />
</div>

@await Component.InvokeAsync("AssignTeam", new { projectId = Model.ProjectId })

@section ProjectNav {
    @await Html.PartialAsync("Projects/_ProjectNav", Model.ProjectId)
}

@section VendorScripts {
<script src="~/vendors/echarts/echarts.min.js"></script>
}

@section CustomScripts {
<script src="~/assets/js/project-details.js"></script>
<script src="~/js/app.js"></script>
<script>
    $(document).ready(function () {
        assignTeam();
    });
</script>
}