@model ApplicationUser

@{
    ViewData["Title"] = $"{Model.FullName} Events";
}

@section Stylesheets {
}



<div class="content">
    <partial name="_Breadcrumbs" />
    @await Component.InvokeAsync("EventsTable", new { creatorId = Model.Id })
    <partial name="_Footer" />
</div>

<vc:save-meeting></vc:save-meeting>

@section VendorScripts {
}

@section CustomScripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/app.js"></script>
    <script src="~/js/events.js"></script>
    <script>
        $(document).ready(() => {
            $.validator.unobtrusive.parse($("#meeting-form"));
            loadEventObjects();
            saveEvent();
        });
    </script>
}