@model Meeting

<div class="modal fade" id="saveMeetingModal" tabindex="-1" aria-labelledby="saveMeetingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveMeetingLabel">Save Meeting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="meeting-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="MeetingType" class="control-label">Type</label>
                        <select asp-for="MeetingType" class="form-select" asp-items="Html.GetEnumSelectList<MeetingType>()"></select>
                        <span asp-validation-for="MeetingType" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="MeetingTypeId" class="control-label">Object Type</label>
                        <select asp-for="MeetingTypeId" class="form-select">
                            <option value="@MeetingType.Public">Public</option>
                        </select>
                        <span asp-validation-for="MeetingTypeId" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="meeting-form" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>