@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    @* Header *@
    <div class="pb-5">
        <div class="row g-4">
            <div class="col-12 col-xxl-6">
                <div class="mb-8">
                    <h2 class="mb-2">Welcome to Cyvil</h2>
                    <h5 class="text-700 fw-semi-bold">It all starts here.</h5>
                </div>
            </div>
        </div>
    </div>
    @* /Header *@

    <partial name="_Footer" />
</div>
