@model Meeting

<ul class="nav nav-underline deal-details scrollbar flex-nowrap w-100 pb-1 mb-6" id="myTab" role="tablist" style="overflow-y: hidden;">
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link active" id="details-tab" data-bs-toggle="tab" href="#tab-details" role="tab" aria-controls="tab-details" aria-selected="true"> 
            <span class="fa-solid fa-info-circle me-2 tab-icon-color"></span>Details
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="subtasks-tab" data-bs-toggle="tab" href="#tab-subtasks" role="tab" aria-controls="tab-subtasks" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-envelope-open-text me-2 tab-icon-color"></span>Invitations
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#tab-notes" role="tab" aria-controls="tab-notes" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-people-roof me-2 tab-icon-color"></span>Attendees
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="chat-tab" data-bs-toggle="tab" href="#tab-chat" role="tab" aria-controls="tab-chat" aria-selected="false" tabindex="-1"> 
            <span class="fa-solid fa-message me-2 tab-icon-color"></span>Chat
        </a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="tab-details" role="tabpanel" aria-labelledby="details-tab">
        @Model.Description
    </div>
    <div class="tab-pane fade" id="tab-subtasks" role="tabpanel" aria-labelledby="subtasks-tab">
        @await Component.InvokeAsync("GetInvitees", new { eventType = Model.MeetingType, id = Model.MeetingTypeId })
    </div>
    <div class="tab-pane fade" id="tab-notes" role="tabpanel" aria-labelledby="notes-tab">
        ...
    </div>
    <div class="tab-pane fade" id="tab-chat" role="tabpanel" aria-labelledby="chat-tab">
        ...
    </div>
</div>