<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-soft overflow-hidden">
            <div class="modal-header px-6 py-5 border-300 pe-sm-5 px-md-6 dark__bg-1100">
                <h3 class="text-1000 fw-bolder mb-0">Designing the Dungeon Blueprint</h3>
                <button class="btn btn-phoenix-secondary btn-icon btn-icon-xl flex-shrink-0" type="button"
                    data-bs-dismiss="modal" aria-label="Close">
                    <span class="fa-solid fa-xmark"></span>
                </button>
            </div>
            <div class="modal-body bg-100 px-6 py-0">
                <div class="row gx-14">
                    <div class="col-12 col-lg-7 border-end-lg border-300">
                        <div class="py-6">
                            <div class="mb-7">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="text-900 me-3">Description</h4><a
                                        class="btn btn-link text-decoration-none p-0" href="#!"><span
                                            class="fa-solid fa-pen"></span></a>
                                </div>
                                <p class="text-1000 mb-0">The female circus horse-rider is a recurring subject
                                    in Chagall’s work. In 1926 the art dealer Ambroise Vollard invited Chagall
                                    to make a project based on the circus. They visited Paris’s historic Cirque
                                    d’Hiver Bouglione together; Vollard lent Chagall his private box seats.
                                    Chagall completed 19 gouaches Chagall’s work. In 1926 the art dealer
                                    Ambroise Vollard invited Chagall to make a project based on the circus.</p>
                            </div>
                            <div class="mb-7">
                                <h4 class="mb-3">Subtasks</h4>
                                <div
                                    class="d-flex flex-between-center hover-actions-trigger border-300 py-3 border-top">
                                    <div
                                        class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1 min-h-auto">
                                        <input
                                            class="subtask-checkbox form-check-input form-check-line-through mt-0 me-3"
                                            type="checkbox" id="subtaskundefined1" />
                                        <label class="form-check-label mb-0 fs-0" for="subtaskundefined1">Study
                                            Dragons</label>
                                    </div>
                                    <div class="hover-actions end-0">
                                        <button class="btn btn-sm me-1 fs--2 text-700 px-0 me-3"><span
                                                class="fa-solid fa-pencil"></span></button>
                                        <button class="btn btn-sm text-700 px-0"><span
                                                class="fa-solid fa-xmark fs-0"></span></button>
                                    </div>
                                </div>
                                <div
                                    class="d-flex flex-between-center hover-actions-trigger border-300 py-3 border-top">
                                    <div
                                        class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1 min-h-auto">
                                        <input
                                            class="subtask-checkbox form-check-input form-check-line-through mt-0 me-3"
                                            type="checkbox" id="subtaskundefined2" />
                                        <label class="form-check-label mb-0 fs-0"
                                            for="subtaskundefined2">Procrastinate a bit</label>
                                    </div>
                                    <div class="hover-actions end-0">
                                        <button class="btn btn-sm me-1 fs--2 text-700 px-0 me-3"><span
                                                class="fa-solid fa-pencil"></span></button>
                                        <button class="btn btn-sm text-700 px-0"><span
                                                class="fa-solid fa-xmark fs-0"></span></button>
                                    </div>
                                </div>
                                <div
                                    class="d-flex flex-between-center hover-actions-trigger border-300 py-3 border-top border-bottom mb-3">
                                    <div
                                        class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1 min-h-auto">
                                        <input
                                            class="subtask-checkbox form-check-input form-check-line-through mt-0 me-3"
                                            type="checkbox" id="subtaskundefined3" />
                                        <label class="form-check-label mb-0 fs-0"
                                            for="subtaskundefined3">Staring at the notebook for 5 mins</label>
                                    </div>
                                    <div class="hover-actions end-0">
                                        <button class="btn btn-sm me-1 fs--2 text-700 px-0 me-3"><span
                                                class="fa-solid fa-pencil"></span></button>
                                        <button class="btn btn-sm text-700 px-0"><span
                                                class="fa-solid fa-xmark fs-0"></span></button>
                                    </div>
                                </div><a class="fw-bold fs--1" href="#!"><span
                                        class="fas fa-plus me-1"></span>Add subtask</a>
                            </div>
                            <div class="mb-3">
                                <div>
                                    <h4 class="mb-3">Files</h4>
                                </div>
                                <div class="border-top border-300 px-0 pt-4 pb-3">
                                    <div class="me-n3">
                                        <div class="d-flex flex-between-center">
                                            <div class="d-flex mb-1"><span
                                                    class="fa-solid fa-image me-2 text-700 fs--1"></span>
                                                <p class="text-1000 mb-0 lh-1">Silly_sight_1.png</p>
                                            </div>
                                            <div class="font-sans-serif btn-reveal-trigger">
                                                <button
                                                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                                                    type="button" data-bs-toggle="dropdown"
                                                    data-boundary="window" aria-haspopup="true"
                                                    aria-expanded="false" data-bs-reference="parent"><span
                                                        class="fas fa-ellipsis-h"></span></button>
                                                <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                        class="dropdown-item" href="#!">Edit</a><a
                                                        class="dropdown-item text-danger" href="#!">Delete</a><a
                                                        class="dropdown-item" href="#!">Download</a><a
                                                        class="dropdown-item" href="#!">Report abuse</a></div>
                                            </div>
                                        </div>
                                        <div class="d-flex fs--1 text-700 mb-2 flex-wrap"><span>768
                                                kb</span><span class="text-400 mx-1">| </span><a
                                                href="#!">Shantinan Mekalan </a><span class="text-400 mx-1">|
                                            </span><span class="text-nowrap">21st Dec, 12:56 PM</span></div><img
                                            class="rounded-2" src="assets/img/generic/40.png" alt=""
                                            style="max-width:230px" />
                                    </div>
                                </div>
                                <div class="border-top border-300 px-0 pt-4 pb-3">
                                    <div class="me-n3">
                                        <div class="d-flex flex-between-center">
                                            <div>
                                                <div class="d-flex align-items-center mb-1"><span
                                                        class="fa-solid fa-image me-2 fs--1 text-700"></span>
                                                    <p class="text-1000 mb-0 lh-1">All_images.zip</p>
                                                </div>
                                                <div class="d-flex fs--1 text-700 mb-0 flex-wrap"><span>12.8
                                                        mb</span><span class="text-400 mx-1">| </span><a
                                                        href="#!">Yves Tanguy </a><span class="text-400 mx-1">|
                                                    </span><span class="text-nowrap">19th Dec, 08:56 PM</span>
                                                </div>
                                            </div>
                                            <div class="font-sans-serif btn-reveal-trigger">
                                                <button
                                                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                                                    type="button" data-bs-toggle="dropdown"
                                                    data-boundary="window" aria-haspopup="true"
                                                    aria-expanded="false" data-bs-reference="parent"><span
                                                        class="fas fa-ellipsis-h"></span></button>
                                                <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                        class="dropdown-item" href="#!">Edit</a><a
                                                        class="dropdown-item text-danger" href="#!">Delete</a><a
                                                        class="dropdown-item" href="#!">Download</a><a
                                                        class="dropdown-item" href="#!">Report abuse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top border-bottom border-300 px-0 pt-4 pb-3">
                                    <div class="me-n3">
                                        <div class="d-flex flex-between-center">
                                            <div>
                                                <div class="d-flex align-items-center mb-1 flex-wrap"><span
                                                        class="fa-solid fa-file-lines me-2 fs--1 text-700"></span>
                                                    <p class="text-1000 mb-0 lh-1">Project.txt</p>
                                                </div>
                                                <div class="d-flex fs--1 text-700 mb-0 flex-wrap"><span>123
                                                        kb</span><span class="text-400 mx-1">| </span><a
                                                        href="#!">Shantinan Mekalan </a><span
                                                        class="text-400 mx-1">| </span><span
                                                        class="text-nowrap">12th Dec, 12:56 PM</span></div>
                                            </div>
                                            <div class="font-sans-serif btn-reveal-trigger">
                                                <button
                                                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                                                    type="button" data-bs-toggle="dropdown"
                                                    data-boundary="window" aria-haspopup="true"
                                                    aria-expanded="false" data-bs-reference="parent"><span
                                                        class="fas fa-ellipsis-h"></span></button>
                                                <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                        class="dropdown-item" href="#!">Edit</a><a
                                                        class="dropdown-item text-danger" href="#!">Delete</a><a
                                                        class="dropdown-item" href="#!">Download</a><a
                                                        class="dropdown-item" href="#!">Report abuse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><a class="fw-bold fs--1" href="#!"><span class="fas fa-plus me-1"></span>Add
                                file(s)</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="py-6">
                            <h4 class="mb-4 text-black">Others Information</h4>
                            <h5 class="text-1000 mb-2">Status</h5>
                            <select class="form-select mb-4" aria-label="Default select example">
                                <option selected="">Select</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <h5 class="text-1000 mb-2">Due Date</h5>
                            <div class="flatpickr-input-container mb-4">
                                <input class="form-control datetimepicker ps-6" type="text"
                                    placeholder="Set the due date" data-options='{"disableMobile":true}' /><span
                                    class="uil uil-calendar-alt flatpickr-icon text-700"></span>
                            </div>
                            <h5 class="text-1000 mb-2">Reminder</h5>
                            <div class="flatpickr-input-container mb-4">
                                <input class="form-control datetimepicker ps-6" type="text"
                                    placeholder="Reminder"
                                    data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true,"static":true}' /><span
                                    class="uil uil-bell-school flatpickr-icon text-700"></span>
                            </div>
                            <h5 class="text-1000 mb-2">Tag</h5>
                            <div class="choices-select-container mb-6">
                                <select class="form-select" data-choices="data-choices" multiple="multiple"
                                    data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select organizer...</option>
                                    <option>Massachusetts Institute of Technology</option>
                                    <option>University of Chicago</option>
                                    <option>GSAS Open Labs At Harvard</option>
                                    <option>California Institute of Technology</option>
                                </select><span class="uil uil-tag-alt choices-icon text-700"
                                    style="top: 26%;"></span>
                            </div>
                            <div class="text-end mb-9">
                                <button class="btn btn-phoenix-danger">Delete Task</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>