<div class="h-100">
    <div class=" h-100">
        <div class="p-4 p-lg-6">
            <h3 class="text-1000 mb-4 fw-bold">Recent activity</h3>
            <div class="timeline-vertical timeline-with-details">
                <div class="timeline-item position-relative">
                    <div class="row g-md-3">
                        <div class="col-12 col-md-auto d-flex">
                            <div class="timeline-item-date order-1 order-md-0 me-md-4">
                                <p class="fs--2 fw-semi-bold text-600 text-end">01 DEC, 2023<br
                                        class="d-none d-md-block" /> 10:30 AM</p>
                            </div>
                            <div class="timeline-item-bar position-md-relative me-3 me-md-0 border-400">
                                <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-100">
                                    <span
                                        class="fa-solid fa-chess text-primary-600 fs--2 dark__text-primary-300"></span>
                                </div>
                                <span class="timeline-bar border-end border-dashed border-400"></span>
                            </div>
                            <div class="col">
                                <div class="timeline-item-content ps-6 ps-md-3">
                                    <h5 class="fs--1 lh-sm">Phoenix Template: Unleashing Creative
                                        Possibilities</h5>
                                    <p class="fs--1">by <a class="fw-semi-bold" href="#!">Shantinon
                                            Mekalan</a></p>
                                    <p class="fs--1 text-800 mb-5">Discover limitless creativity with the
                                        Phoenix template! Our latest update offers an array of innovative
                                        features and design options.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item position-relative">
                    <div class="row g-md-3">
                        <div class="col-12 col-md-auto d-flex">
                            <div class="timeline-item-date order-1 order-md-0 me-md-4">
                                <p class="fs--2 fw-semi-bold text-600 text-end">05 DEC, 2023<br
                                        class="d-none d-md-block" /> 12:30 AM</p>
                            </div>
                            <div class="timeline-item-bar position-md-relative me-3 me-md-0 border-400">
                                <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-100">
                                    <span class="fa-solid fa-dove text-primary-600 fs--2 dark__text-primary-300"></span>
                                </div><span class="timeline-bar border-end border-dashed border-400"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="timeline-item-content ps-6 ps-md-3">
                                <h5 class="fs--1 lh-sm">Empower Your Digital Presence: The Phoenix Template
                                    Unveiled</h5>
                                <p class="fs--1">by <a class="fw-semi-bold" href="#!">Bookworm22</a></p>
                                <p class="fs--1 text-800 mb-5">Unveiling the Phoenix template, a
                                    game-changer for your digital presence. With its powerful features and
                                    sleek design,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item position-relative">
                    <div class="row g-md-3">
                        <div class="col-12 col-md-auto d-flex">
                            <div class="timeline-item-date order-1 order-md-0 me-md-4">
                                <p class="fs--2 fw-semi-bold text-600 text-end">15 DEC, 2023<br
                                        class="d-none d-md-block" /> 2:30 AM</p>
                            </div>
                            <div class="timeline-item-bar position-md-relative me-3 me-md-0 border-400">
                                <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-100">
                                    <span
                                        class="fa-solid fa-dungeon text-primary-600 fs--2 dark__text-primary-300"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="timeline-item-content ps-6 ps-md-3">
                                <h5 class="fs--1 lh-sm">Phoenix Template: Simplified Design, Maximum Impact
                                </h5>
                                <p class="fs--1">by <a class="fw-semi-bold" href="#!">Sharuka Nijibum</a>
                                </p>
                                <p class="fs--1 text-800 mb-0">Introducing the Phoenix template, where
                                    simplified design meets maximum impact. Elevate your digital presence
                                    with its sleek and intuitive features.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>