<div class="">
    <h4 class="text-1100 mb-4">Teams</h4>
    <div class="scrollbar overflow-scroll" style="max-height:4rem;">
        <span class="badge badge-tag me-2 mb-1">Unused_brain</span>
        <span class="badge badge-tag me-2 mb-1">Machine</span>
        <span class="badge badge-tag me-2 mb-1">Coding</span>
        <span class="badge badge-tag me-2 mb-1">Meseeks</span>
        <span class="badge badge-tag me-2 mb-1">Smithpeople</span>
        <span class="badge badge-tag me-2 mb-1">Rick</span>
        <span class="badge badge-tag me-2 mb-1">Biology</span>
        <span class="badge badge-tag me-2 mb-1">Neurology</span>
        <span class="badge badge-tag me-2 mb-1">Brainlessness</span>
        <span class="badge badge-tag me-2 mb-1">Stupidity</span>
        <span class="badge badge-tag me-2 mb-1">Jerry</span>
        <span class="badge badge-tag me-2 mb-1">Not _the_mouse</span>
    </div>
</div>