@model Project

<div class="mb-5 mb-xl-9">
    <div class="row gx-0 gx-sm-7">
        <div class="col-12 col-sm-auto">
            <table class="lh-sm mb-4 mb-sm-0 mb-xl-4">
                <tbody>
                    <tr>
                        <td class="py-1" colspan="2">
                            <div class="d-flex">
                                <span class="fa-solid fa-earth-americas me-2 text-700 fs--1"></span>
                                <h5 class="text-900">Public project</h5>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top py-1">
                            <div class="d-flex">
                                <span class="fa-solid fa-heart me-2 text-700 fs--1"></span>
                                <h5 class="text-900 mb-0 text-nowrap">Cause :</h5>
                            </div>
                        </td>
                        <td class="ps-1 py-1">
                            <a class="fw-semi-bold d-block lh-sm" href="#!">Human Services</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top py-1">
                            <div class="d-flex">
                                <span class="fa-regular fa-credit-card me-2 text-700 fs--1"></span>
                                <h5 class="text-900 mb-0 text-nowrap">Budget : </h5>
                            </div>
                        </td>
                        <td class="fw-bold ps-1 py-1 text-1000">$8,742</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-sm-auto">
        <table class="lh-sm">
            <tbody>
                <tr>
                    <td class="align-top py-1 text-900 text-nowrap fw-bold">Started : </td>
                    <td class="text-600 fw-semi-bold ps-3">17th Nov, 2020</td>
                </tr>
                <tr>
                    <td class="align-top py-1 text-900 text-nowrap fw-bold">Deadline :</td>
                    <td class="text-600 fw-semi-bold ps-3">21st May, 2028</td>
                </tr>
                <tr>
                    <td class="align-top py-1 text-900 text-nowrap fw-bold">Progress :</td>
                    <td class="text-warning fw-semi-bold ps-3">80%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>