<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title mb-4">Filter</h4>
        
        <div class="row gx-3">
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="mb-4">
                    <h5 class="mb-2 text-1000">Search</h5>
                    <input class="form-control mb-xl-3" type="text" placeholder="Search" />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                        <h5 class="mb-0 text-1000 me-2">Sort</h5>
                    </div>
                    <select class="form-select" aria-label="category">
                        <option value="men-cloth">Men's Clothing</option>
                        <option value="women-cloth">Womens's Clothing</option>
                        <option value="kid-cloth">Kid's Clothing</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                        <h5 class="mb-0 text-1000 me-2">Cause</h5>
                    </div>
                    <select class="form-select mb-3" aria-label="category">
                        <option value="men-cloth">Men's Clothing</option>
                        <option value="women-cloth">Womens's Clothing</option>
                        <option value="kid-cloth">Kid's Clothing</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                        <h5 class="mb-0 text-1000 me-2">City</h5>
                    </div>
                    <select class="form-select mb-3" aria-label="category">
                        <option value="men-cloth">Men's Clothing</option>
                        <option value="women-cloth">Womens's Clothing</option>
                        <option value="kid-cloth">Kid's Clothing</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="d-grid gap-2">
                  <button type="button" name="" id="" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>