<div class="modal fade" id="projectsBoardViewModal" tabindex="-1" aria-labelledby="projectsBoardViewModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content overflow-hidden">
            <div class="modal-header position-relative p-0">
                <input class="d-none" id="projectModalTwoCoverInput" type="file" />
                <label class="position-absolute top-0 start-0" for="projectModalTwoCoverInput">
                    <span class="project-modal-btn d-inline-block bg-white dark__text-white rounded-2 py-2 px-3 fs--1 fw-bolder mt-3 ms-3 cursor-pointer">
                        <span class="fa-solid fa-image me-1"></span>Change
                    </span>
                </label>
                <button class="btn btn-circle project-modal-btn position-absolute end-0 top-0 mt-3 me-3 bg-white" data-bs-dismiss="modal">
                    <span class="fa-solid fa-xmark text-900 dark__text-white"></span>
                </button>
                <img id="projectPhoto" class="w-100" src="~/assets/img/generic/43.png" alt="" />
            </div>
            <div class="modal-body p-0">
                <div class="row gx-0 gy-3 border-bottom border-300 px-5 px-lg-6 py-4 p-xl-0">
                    <div class="col-12 col-xl-5 border-end-xl border-300">
                        <div
                            class="row h-100 align-items-center px-xl-6 justify-content-between justify-content-xl-start">
                            <div class="col-auto">
                                <p class="text-700 fs--2 fw-semi-bold mb-0">Created</p>
                                <p class="text-1000 fs--1 mb-0">Jan 3, 3:24 pm</p>
                            </div>
                            <div class="col-7 col-lg-6">
                                <div class="flatpickr-input-container flatpickr-input-sm">
                                    <input class="form-control form-control-sm ps-6 datetimepicker" id="datepicker"
                                        type="text"
                                        data-options='{"dateFormat":"M j, Y","disableMobile":true,"defaultDate":"Mar 1, 2022"}' /><span
                                        class="uil uil-calendar-alt flatpickr-icon text-700"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7">
                        <div class="px-xl-6 py-xl-4">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto col-12 col-lg-auto d-flex flex-1">
                                    <div class="dropdown">
                                        <button
                                            class="d-none d-sm-block btn btn-soft-secondary dropdown-toggle dropdown-caret-none d-flex align-items-center me-2"
                                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Add to card <span class="fa-solid fa-plus ms-2"> </span></button>
                                        <button
                                            class="d-sm-none btn btn-icon btn-icon-lg btn-soft-secondary dropdown-toggle dropdown-caret-none d-flex align-items-center me-2"
                                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"> <span class="fa-solid fa-plus"> </span></button>
                                        <div class="dropdown-menu dropdown-menu-end px-2">
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-user-plus"></span>Assignee</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-tag"></span>Labels</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-paperclip"></span>Attachments</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-square-check"></span>Checklist</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100"><span
                                                    class="me-2 fa-solid fa-calendar-days"></span>Dates</button>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-icon btn-icon-lg bg-100 text-1100 hover-bg-200 rounded-2 me-2"
                                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"> <span
                                                class="fa-solid fa-ellipsis-vertical"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end px-2">
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-arrow-right"></span>Move</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-copy"></span>Copy</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-trash"></span>Remove</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100 mb-2"><span
                                                    class="me-2 fa-solid fa-box-archive"></span>Archive</button>
                                            <button
                                                class="btn btn-sm btn-soft-secondary rounded-2 d-flex align-items-center w-100"><span
                                                    class="me-2 fa-solid fa-share-nodes"></span>Share</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto col-lg-auto d-flex">
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-soft-info dropdown-toggle dropdown-caret-none d-flex align-items-center me-2"
                                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Review <span class="fa-solid fa-angle-down ms-2"> </span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                                href="#!">Remove</a>
                                        </div>
                                    </div>
                                    <div class="btn btn-soft-secondary btn-icon btn-icon-lg"><span
                                            class="fa-solid fa-check"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-12 col-xl-5 border-end border-300">
                        <div class="px-5 px-lg-6 py-4">
                            <h3 id="projectName" class="fw-bolder lh-sm mb-5">It was popularised in the 1960s with the release of
                                Letraset</h3>
                            <div class="d-flex align-items-center mb-5">
                                <p class="text-1000 fw-700 mb-0 me-2">64%</p>
                                <div class="progress bg-300 flex-1">
                                    <div class="progress-bar bg-800 rounded-3" role="progressbar" style="width: 64%">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h6 class="text-800 mb-2">Assigness</h6>
                                <div class="d-flex">
                                    <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block"
                                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                            data-bs-auto-close="outside">
                                            <div class="avatar avatar-m  me-1">
                                                <img class="rounded-circle " src="~/assets/img/team/60.webp"
                                                    alt="" />

                                            </div>
                                        </a>
                                        <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                                            style="width: 320px;">
                                            <div class="position-relative">
                                                <div class="bg-holder z-index--1"
                                                    style="background-image:url(~/assets/img/bg/bg-32.png);background-size: auto;">
                                                </div>
                                                <!--/.bg-holder-->

                                                <div class="p-3">
                                                    <div class="text-end">
                                                        <button class="btn p-0 me-2"><span
                                                                class="fa-solid fa-user-plus text-white light"></span></button>
                                                        <button class="btn p-0"><span
                                                                class="fa-solid fa-ellipsis text-white light"></span></button>
                                                    </div>
                                                    <div class="text-center">
                                                        <div
                                                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2">
                                                            <img class="rounded-circle border border-white"
                                                                src="~/assets/img/team/60.webp" alt="" /></div>
                                                        <h6 class="text-white light">Emma Watson</h6>
                                                        <p class="text-600 fw-semi-bold fs--2 mb-2">tyrion222</p>
                                                        <div class="d-flex flex-center mb-3">
                                                            <h6 class="text-white light mb-0">224 <span
                                                                    class="fw-normal text-300">connections</span></h6>
                                                            <span class="fa-solid fa-circle text-700 mx-1"
                                                                data-fa-transform="shrink-10 up-2"></span>
                                                            <h6 class="text-white light mb-0">23 <span
                                                                    class="fw-normal text-300">mutual</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-white">
                                                <div class="p-3 border-bottom">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-phone"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-message"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span
                                                                    class="fa-solid fa-video"></span></button>
                                                        </div>
                                                        <button class="btn btn-phoenix-primary"><span
                                                                class="fa-solid fa-envelope me-2"></span>Send
                                                            Email</button>
                                                    </div>
                                                </div>
                                                <ul class="nav d-flex flex-column py-3 border-bottom">
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900 d-inline-block"
                                                                data-feather="clipboard"></span><span
                                                                class="text-1000 flex-1">Assigned Projects</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900"
                                                                data-feather="pie-chart"></span><span
                                                                class="text-1000 flex-1">View activiy</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="p-3 d-flex justify-content-between"><a
                                                    class="btn btn-link p-0 text-decoration-none" href="#!">Details
                                                </a><a class="btn btn-link p-0 text-decoration-none text-danger"
                                                    href="#!">Unassign </a></div>
                                        </div>
                                    </div>
                                    <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block"
                                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                            data-bs-auto-close="outside">
                                            <div class="avatar avatar-m  me-1">
                                                <img class="rounded-circle " src="~/assets/img/team/58.webp"
                                                    alt="" />

                                            </div>
                                        </a>
                                        <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                                            style="width: 320px;">
                                            <div class="position-relative">
                                                <div class="bg-holder z-index--1"
                                                    style="background-image:url(~/assets/img/bg/bg-32.png);background-size: auto;">
                                                </div>
                                                <!--/.bg-holder-->

                                                <div class="p-3">
                                                    <div class="text-end">
                                                        <button class="btn p-0 me-2"><span
                                                                class="fa-solid fa-user-plus text-white light"></span></button>
                                                        <button class="btn p-0"><span
                                                                class="fa-solid fa-ellipsis text-white light"></span></button>
                                                    </div>
                                                    <div class="text-center">
                                                        <div
                                                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2">
                                                            <img class="rounded-circle border border-white"
                                                                src="~/assets/img/team/58.webp" alt="" /></div>
                                                        <h6 class="text-white light">Igor Borvibson</h6>
                                                        <p class="text-600 fw-semi-bold fs--2 mb-2">tyrion222</p>
                                                        <div class="d-flex flex-center mb-3">
                                                            <h6 class="text-white light mb-0">224 <span
                                                                    class="fw-normal text-300">connections</span></h6>
                                                            <span class="fa-solid fa-circle text-700 mx-1"
                                                                data-fa-transform="shrink-10 up-2"></span>
                                                            <h6 class="text-white light mb-0">23 <span
                                                                    class="fw-normal text-300">mutual</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-white">
                                                <div class="p-3 border-bottom">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-phone"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-message"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span
                                                                    class="fa-solid fa-video"></span></button>
                                                        </div>
                                                        <button class="btn btn-phoenix-primary"><span
                                                                class="fa-solid fa-envelope me-2"></span>Send
                                                            Email</button>
                                                    </div>
                                                </div>
                                                <ul class="nav d-flex flex-column py-3 border-bottom">
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900 d-inline-block"
                                                                data-feather="clipboard"></span><span
                                                                class="text-1000 flex-1">Assigned Projects</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900"
                                                                data-feather="pie-chart"></span><span
                                                                class="text-1000 flex-1">View activiy</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="p-3 d-flex justify-content-between"><a
                                                    class="btn btn-link p-0 text-decoration-none" href="#!">Details
                                                </a><a class="btn btn-link p-0 text-decoration-none text-danger"
                                                    href="#!">Unassign </a></div>
                                        </div>
                                    </div>
                                    <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block"
                                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                            data-bs-auto-close="outside">
                                            <div class="avatar avatar-m  me-1">
                                                <img class="rounded-circle " src="~/assets/img/team/59.webp"
                                                    alt="" />

                                            </div>
                                        </a>
                                        <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                                            style="width: 320px;">
                                            <div class="position-relative">
                                                <div class="bg-holder z-index--1"
                                                    style="background-image:url(~/assets/img/bg/bg-32.png);background-size: auto;">
                                                </div>
                                                <!--/.bg-holder-->

                                                <div class="p-3">
                                                    <div class="text-end">
                                                        <button class="btn p-0 me-2"><span
                                                                class="fa-solid fa-user-plus text-white light"></span></button>
                                                        <button class="btn p-0"><span
                                                                class="fa-solid fa-ellipsis text-white light"></span></button>
                                                    </div>
                                                    <div class="text-center">
                                                        <div
                                                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2">
                                                            <img class="rounded-circle border border-white"
                                                                src="~/assets/img/team/59.webp" alt="" /></div>
                                                        <h6 class="text-white light">Katerina Karenin</h6>
                                                        <p class="text-600 fw-semi-bold fs--2 mb-2">tyrion222</p>
                                                        <div class="d-flex flex-center mb-3">
                                                            <h6 class="text-white light mb-0">224 <span
                                                                    class="fw-normal text-300">connections</span></h6>
                                                            <span class="fa-solid fa-circle text-700 mx-1"
                                                                data-fa-transform="shrink-10 up-2"></span>
                                                            <h6 class="text-white light mb-0">23 <span
                                                                    class="fw-normal text-300">mutual</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-white">
                                                <div class="p-3 border-bottom">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-phone"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-message"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span
                                                                    class="fa-solid fa-video"></span></button>
                                                        </div>
                                                        <button class="btn btn-phoenix-primary"><span
                                                                class="fa-solid fa-envelope me-2"></span>Send
                                                            Email</button>
                                                    </div>
                                                </div>
                                                <ul class="nav d-flex flex-column py-3 border-bottom">
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900 d-inline-block"
                                                                data-feather="clipboard"></span><span
                                                                class="text-1000 flex-1">Assigned Projects</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900"
                                                                data-feather="pie-chart"></span><span
                                                                class="text-1000 flex-1">View activiy</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="p-3 d-flex justify-content-between"><a
                                                    class="btn btn-link p-0 text-decoration-none" href="#!">Details
                                                </a><a class="btn btn-link p-0 text-decoration-none text-danger"
                                                    href="#!">Unassign </a></div>
                                        </div>
                                    </div>
                                    <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block"
                                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                            data-bs-auto-close="outside">
                                            <div class="avatar avatar-m  me-1">
                                                <img class="rounded-circle " src="~/assets/img/team/34.webp"
                                                    alt="" />

                                            </div>
                                        </a>
                                        <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden"
                                            style="width: 320px;">
                                            <div class="position-relative">
                                                <div class="bg-holder z-index--1"
                                                    style="background-image:url(~/assets/img/bg/bg-32.png);background-size: auto;">
                                                </div>
                                                <!--/.bg-holder-->

                                                <div class="p-3">
                                                    <div class="text-end">
                                                        <button class="btn p-0 me-2"><span
                                                                class="fa-solid fa-user-plus text-white light"></span></button>
                                                        <button class="btn p-0"><span
                                                                class="fa-solid fa-ellipsis text-white light"></span></button>
                                                    </div>
                                                    <div class="text-center">
                                                        <div
                                                            class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2">
                                                            <img class="rounded-circle border border-white"
                                                                src="~/assets/img/team/34.webp" alt="" /></div>
                                                        <h6 class="text-white light">Jean Renoir</h6>
                                                        <p class="text-600 fw-semi-bold fs--2 mb-2">tyrion222</p>
                                                        <div class="d-flex flex-center mb-3">
                                                            <h6 class="text-white light mb-0">224 <span
                                                                    class="fw-normal text-300">connections</span></h6>
                                                            <span class="fa-solid fa-circle text-700 mx-1"
                                                                data-fa-transform="shrink-10 up-2"></span>
                                                            <h6 class="text-white light mb-0">23 <span
                                                                    class="fw-normal text-300">mutual</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-white">
                                                <div class="p-3 border-bottom">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-phone"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span
                                                                    class="fa-solid fa-message"></span></button>
                                                            <button
                                                                class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span
                                                                    class="fa-solid fa-video"></span></button>
                                                        </div>
                                                        <button class="btn btn-phoenix-primary"><span
                                                                class="fa-solid fa-envelope me-2"></span>Send
                                                            Email</button>
                                                    </div>
                                                </div>
                                                <ul class="nav d-flex flex-column py-3 border-bottom">
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900 d-inline-block"
                                                                data-feather="clipboard"></span><span
                                                                class="text-1000 flex-1">Assigned Projects</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                    <li class="nav-item"><a
                                                            class="nav-link px-3 d-flex flex-between-center" href="#!">
                                                            <span class="me-2 text-900"
                                                                data-feather="pie-chart"></span><span
                                                                class="text-1000 flex-1">View activiy</span><span
                                                                class="fa-solid fa-chevron-right fs--3"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="p-3 d-flex justify-content-between"><a
                                                    class="btn btn-link p-0 text-decoration-none" href="#!">Details
                                                </a><a class="btn btn-link p-0 text-decoration-none text-danger"
                                                    href="#!">Unassign </a></div>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-phoenix-secondary btn-circle"><span
                                            class="fa-solid fa-plus"></span></button>
                                </div>
                            </div>
                            <div class="mb-5">
                                <h6 class="text-800 mb-2">Labels</h6>
                                <div class="d-flex align-items-center"><span
                                        class="badge badge-phoenix badge-phoenix-info fs--2 me-2">INFO</span><span
                                        class="badge badge-phoenix badge-phoenix-warning fs--2 me-2">URGENT</span><span
                                        class="badge badge-phoenix badge-phoenix-success fs--2 me-2">DONE</span><a
                                        class="text-900 fw-bolder fs--1 lh-1 text-decoration-none" href="#!"> <span
                                            class="fa-solid fa-plus me-1"></span>Add another</a></div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <h4 class="me-3">Goal</h4>
                                    <button class="btn btn-link p-0"><span class="fa-solid fa-pen"></span></button>
                                </div>
                                <p id="projectGoal" class="text-1000">The female circus horse-rider is a recurring subject in Chagall’s
                                    work. In 1926 the art dealer Ambroise Vollard invited Chagall to make a project
                                    based on the circus. They visited Paris’s historic Cirque d’Hiver Bouglione
                                    together; Vollard lent Chagall his private box seats. Chagall completed 19
                                    gouaches...<a class="fw-semi-bold" href="#!">see more </a>
                                </p>
                            </div>
                        </div>
                        <div class="bg-100 px-5 px-lg-6 py-4">
                            <div class="row justify-contnet-between border-bottom g-0 gy-2 pb-3">
                                <div class="col-12 col-sm">
                                    <p class="fs--1 text-800 mb-2"><a class="fw-semi-bold" href="#!">Anthony Van Dyck
                                        </a>uploaded a file </p><img class="rounded-2 mb-2"
                                        src="~/assets/img/generic/42.png" alt="" width="220" />
                                    <p class="text-1000 fw-semi-bold fs--1 mb-0">Fruit blast</p>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <p class="text-800 fw-semi-bold fs--2 mb-0">Oct 3 at 4:38 pm</p>
                                </div>
                            </div>
                            <div class="row justify-contnet-between border-bottom g-0 gy-1 py-3 align-items-center">
                                <div class="col-12 col-sm">
                                    <p class="fs--1 text-800 mb-0"><span
                                            class="text-1000 fw-semi-bold me-1">You</span>created this task</p>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <p class="text-800 fw-semi-bold fs--2 mb-0">Oct 4 at 12:18 pm</p>
                                </div>
                            </div>
                            <div class="row justify-contnet-between border-bottom g-0 gy-1 py-3 align-items-center">
                                <div class="col-12 col-sm">
                                    <p class="fs--1 text-800 mb-1"><a class="fw-semi-bold" href="#!">Kazimir Malevich
                                        </a>added a subtask</p>
                                    <div class="d-flex">
                                        <p class="mb-0 fs--1 fw-semi-bold text-1000"><span
                                                class="fa-solid fa-circle text-primary" data-fa-transform="shrink-8">
                                            </span>Doing</p><span class="text-800 fs--1 mx-2">to</span>
                                        <p class="mb-0 fs--1 fw-semi-bold text-1000"><span
                                                class="fa-solid fa-circle text-primary" data-fa-transform="shrink-8">
                                            </span>Review</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <p class="text-800 fw-semi-bold fs--2 mb-0">Oct 5 at 9:59 am</p>
                                </div>
                            </div>
                            <div class="row justify-contnet-between gx-2 align-items-center pt-3">
                                <div class="col col-auto">
                                    <div class="avatar avatar-m status-online ">
                                        <img class="rounded-circle " src="~/assets/img//team/30.webp" alt="" />

                                    </div>
                                </div>
                                <div class="col col-auto flex-1">
                                    <p class="fs--1 text-800 mb-0"><a class="fw-semi-bold" href="#!">Peter Paul Rubens
                                        </a>commented</p>
                                </div>
                                <div class="col-12 col-sm-auto order-1 order-sm-0">
                                    <p class="text-800 fw-semi-bold fs--2 mb-0">Oct 5 at 9:59 am</p>
                                </div>
                                <div class="col-12 col-sm-11 ms-6">
                                    <p class="text-900 fs--1 mb-0">Great job on the Phoenix template! The overall design
                                        and layout are visually appealing and user-friendly.</p>
                                </div>
                            </div>
                            <div class="mt-4">
                                <textarea class="form-control form-control mb-3" rows="3"
                                    placeholder="Add comment"></textarea>
                                <div class="d-flex flex-between-center">
                                    <div class="d-flex">
                                        <button class="btn btn-sm px-2 py-0"><span
                                                class="fa-solid fa-image text-600 fs-0"></span></button>
                                        <button class="btn btn-sm px-2 py-0"><span
                                                class="fa-solid fa-calendar-days text-600 fs-0"></span></button>
                                        <button class="btn btn-sm px-2 py-0"><span
                                                class="fa-solid fa-location-dot text-600 fs-0"></span></button>
                                        <button class="btn btn-sm px-2 py-0"><span
                                                class="fa-solid fa-tag text-600 fs-0"></span></button>
                                    </div>
                                    <button class="btn btn-sm btn-primary px-6">Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7">
                        <div class="px-5 px-lg-6 py-4">
                            <div class="mb-7">
                                <h4 class="mb-4">To do list <span class="text-700 fw-normal fs-2">(23)</span></h4>
                                <div class="row align-items-center g-0 justify-content-between mb-3">
                                    <div class="col-12 col-sm-auto">
                                        <div class="search-box w-100 mb-2 mb-sm-0" style="max-width:30rem;">
                                            <form class="position-relative" data-bs-toggle="search"
                                                data-bs-display="static">
                                                <input class="form-control search-input search" type="search"
                                                    placeholder="Search tasks" aria-label="Search" />
                                                <span class="fas fa-search search-box-icon"></span>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex">
                                        <p class="mb-0 ms-sm-3 fs--1 text-700 fw-bold"><span
                                                class="fas fa-filter me-1 fw-extra-bold fs--2"></span>23 tasks</p>
                                        <button class="btn btn-link p-0 ms-3 fs--1 text-primary fw-bold"><span
                                                class="fas fa-sort me-1 fw-extra-bold fs--2"></span>Sorting</button>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-1">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-0" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-0">Designing the dungeon</label><span
                                                    class="badge badge-phoenix fs--2 badge-phoenix-primary">DRAFT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <button class="btn p-0 text-700 fs--2 me-2"><span
                                                    class="fas fa-paperclip me-1"></span>2</button>
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">12 Nov, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    12:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-2">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-1" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-1">Hiring a motion graphic designer</label><span
                                                    class="badge badge-phoenix fs--2 badge-phoenix-warning">URGENT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <button class="btn p-0 text-700 fs--2 me-2"><span
                                                    class="fas fa-paperclip me-1"></span>2</button>
                                            <button class="btn p-0 text-warning fs--2 me-2"><span
                                                    class="fas fa-tasks me-1"></span>3</button>
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">12 Nov, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    12:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-3">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-2" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-2">Daily Meetings Purpose,
                                                    participants</label><span
                                                    class="badge badge-phoenix fs--2 badge-phoenix-info">ON
                                                    PROCESS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <button class="btn p-0 text-700 fs--2 me-2"><span
                                                    class="fas fa-paperclip me-1"></span>4</button>
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">12 Dec, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    05:00 AM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-4">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-3" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-3">Finalizing the geometric shapes</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <button class="btn p-0 text-700 fs--2 me-2"><span
                                                    class="fas fa-paperclip me-1"></span>3</button>
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">12 Nov, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    12:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-5">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-4" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-4">Daily meeting with team members</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">1 Nov, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    12:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-200 py-3 gx-0 border-top">
                                    <div class="col-12 col-lg-auto flex-1">
                                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle"
                                            data-todo-offcanvas-target="todoOffcanvas-6">
                                            <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                                                <input
                                                    class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined"
                                                    type="checkbox" id="checkbox-todo-5" />
                                                <label class="form-check-label mb-0 fs-0 me-2 line-clamp-1"
                                                    for="checkbox-todo-5">Daily Standup Meetings</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-auto">
                                        <div class="d-flex ms-4 lh-1 align-items-center">
                                            <p class="text-700 fs--2 mb-md-0 me-2 me-lg-3 mb-0">13 Nov, 2021</p>
                                            <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                                                <div class="hover-actions end-0">
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0 me-1"><span
                                                            class="fas fa-edit"></span></button>
                                                    <button
                                                        class="btn btn-phoenix-secondary btn-icon fs--2 text-danger px-0"><span
                                                            class="fas fa-trash"></span></button>
                                                </div>
                                            </div>
                                            <div class="hover-lg-hide">
                                                <p
                                                    class="text-700 fs--2 ps-lg-3 border-start-lg border-300 fw-bold mb-md-0 mb-0">
                                                    10:00 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><a class="fw-bold fs--1 mt-4" href="#!"><span class="fas fa-plus me-1"></span>Add
                                    new task</a>
                            </div>
                            <h4 class="mb-3">Files</h4>
                            <div class="border-top border-300 pt-3 pb-4">
                                <div class="me-n3">
                                    <div class="d-flex flex-between-center">
                                        <div class="d-flex mb-1"><span
                                                class="fa-solid fa-image me-2 text-700 fs--1"></span>
                                            <p class="text-1000 mb-0 lh-1">Silly_sight_1.png</p>
                                        </div>
                                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                            aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span
                                                class="fas fa-ellipsis-h"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                href="#!">Edit</a><a class="dropdown-item text-danger"
                                                href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a
                                                class="dropdown-item" href="#!">Report abuse</a></div>
                                    </div>
                                    <p class="fs--1 text-700 mb-2"><span>768 kb</span><span class="text-400 mx-1">|
                                        </span><a href="#!">Shantinan Mekalan </a><span class="text-400 mx-1">|
                                        </span><span class="text-nowrap">21st Dec, 12:56 PM</span></p><img
                                        class="rounded-2" src="~/assets/img/generic/40.png" alt="" />
                                </div>
                            </div>
                            <div class="border-top border-300 py-3">
                                <div class="me-n3">
                                    <div class="d-flex flex-between-center">
                                        <div class="d-flex mb-1"><span
                                                class="fa-solid fa-image me-2 text-700 fs--1"></span>
                                            <p class="text-1000 mb-0 lh-1">Silly_sight_1.png</p>
                                        </div>
                                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                            aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span
                                                class="fas fa-ellipsis-h"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                href="#!">Edit</a><a class="dropdown-item text-danger"
                                                href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a
                                                class="dropdown-item" href="#!">Report abuse</a></div>
                                    </div>
                                    <p class="fs--1 text-700 mb-1"><span>12.8 mb</span><span class="text-400 mx-1">|
                                        </span><a href="#!">Yves Tanguy </a><span class="text-400 mx-1">| </span><span
                                            class="text-nowrap">19th Dec, 08:56 PM</span></p>
                                </div>
                            </div>
                            <div class="border-top border-bottom border-300 py-3 mb-3">
                                <div class="me-n3">
                                    <div class="d-flex flex-between-center">
                                        <div class="d-flex align-items-center mb-1"><span
                                                class="fa-solid fa-file-lines me-2 fs--1 text-700"></span>
                                            <p class="text-1000 mb-0 lh-1">Project.txt</p>
                                        </div>
                                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                            aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span
                                                class="fas fa-ellipsis-h"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                href="#!">Edit</a><a class="dropdown-item text-danger"
                                                href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a
                                                class="dropdown-item" href="#!">Report abuse</a></div>
                                    </div>
                                    <p class="fs--1 text-700 mb-1"><span>123 kb</span><span
                                            class="text-400 mx-1">|</span><a href="#!">Shantinan Mekalan</a><span
                                            class="text-400 mx-1">|</span><span class="text-nowrap">12th Dec, 12:56
                                            PM</span></p>
                                </div>
                            </div><a class="fw-bold fs--1" href="#!"><span class="fas fa-plus me-1"></span>Add
                                file(s)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>