<div class="mt-xl-7 mt-0">
    <div class="d-flex align-items-center">
        <span class="fa-solid fa-list-check me-2 text-700 fs--1"></span>
        <h5 class="text-1100 mb-0 me-2">
            91<span class="text-900 fw-normal ms-2">tasks</span>
        </h5>
        <a class="fw-bold fs--1 mt-1" href="#!">
            See tasks <span class="fa-solid fa-chevron-right me-2 fs--2"></span>
        </a>
    </div>
</div>