@model IEnumerable<ActionItem>

<div class="card">
    <div class="card-header border-bottom-0 pb-0">
        <div class="row mb-4 gx-6 gy-3 align-items-center">
            <div class="col-auto">
                <h2 class="mb-0">Tasks<span class="fw-normal text-700 ms-3">(32)</span></h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary px-5" data-bs-toggle="modal" data-bs-target="#saveActionItemModal">
                    <i class="fa-solid fa-plus me-2"></i>New Task
                </button>
            </div>
        </div>
        <div class="row g-3 justify-content-between align-items-end mb-4">
            <div class="col-12 col-sm-auto">
                <ul class="nav nav-links mx-n2">
                    <li class="nav-item"><a class="nav-link px-2 py-1 active" aria-current="page"
                            href="#"><span>All</span><span class="text-700 fw-semi-bold">(32)</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Ongoing</span><span
                                class="text-700 fw-semi-bold">(14)</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Cancelled</span><span
                                class="text-700 fw-semi-bold">(2)</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Finished</span><span
                                class="text-700 fw-semi-bold">(14)</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Postponed</span><span
                                class="text-700 fw-semi-bold">(2)</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-auto">
                <div class="d-flex align-items-center">
                    <div class="search-box me-3">
                        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                            <input class="form-control search-input search" type="search" placeholder="Search tasks"
                                aria-label="Search" />
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                    </div>
                    <partial name="_ListingViews" />
                </div>
            </div>
        </div>
    </div>
    <div id="task-list" class="card-body scrollbar overflow-scroll" style="max-height:14rem;">
        <div id="objective-tasks"
        data-list='{"valueNames":["name","assignees","start","deadline","projectprogress","status","action"],"page":6,"pagination":true}'>
            <div class="table-responsive scrollbar">
                <table class="table fs--1 mb-0 border-top border-200">
                    <thead>
                        <tr>
                            <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="name"
                                style="width:30%;">TASK</th>
                            <th class="sort align-middle ps-3" scope="col" data-sort="assignees" style="width:10%;">
                                ASSIGNEES</th>
                            <th class="sort align-middle ps-3" scope="col" data-sort="start" style="width:10%;">START DATE
                            </th>
                            <th class="sort align-middle ps-3" scope="col" data-sort="deadline" style="width:10%;">DEADLINE
                            </th>
                            <th class="sort align-middle ps-3" scope="col" data-sort="projectprogress" style="width:10%;">
                                PROGRESS</th>
                            <th class="sort align-middle text-end" scope="col" data-sort="status" style="width:10%;">
                                STATUS</th>
                            <th class="sort align-middle text-end" scope="col" style="width:10%;">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="task-list-table-body">
                        @foreach (var item in Model)
                        {
                            <tr class="position-static">
                                <td class="align-middle time white-space-nowrap ps-0 name py-4">
                                    <a class="fw-bold fs-0" asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </td>
                                <td class="align-middle white-space-nowrap assignees ps-3 py-4">
                                    <partial name="Tasks/_TaskAssignees" />
                                </td>
                                <td class="align-middle white-space-nowrap start ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">Nov 17, 2020</p>
                                </td>
                                <td class="align-middle white-space-nowrap deadline ps-3 py-4">
                                    <p class="mb-0 fs--1 text-900">May 21, 2028</p>
                                </td>
                                <td class="align-middle white-space-nowrap ps-3 projectprogress">
                                    <p class="text-800 fs--2 mb-0">145 / 145</p>
                                    <div class="progress" style="height:3px;">
                                        <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td class="align-middle white-space-nowrap text-end status">
                                    <span class="badge badge-phoenix fs--2 badge-phoenix-primary">
                                        @item.Status
                                    </span>
                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-0 action">
                                    <div class="font-sans-serif btn-reveal-trigger position-static">
                                        <button
                                            class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                                            aria-expanded="false" data-bs-reference="parent">
                                            <span class="fas fa-ellipsis-h fs--2"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end py-2">
                                            <a class="dropdown-item" href="#!" data-task="@item.Id">Assign Person</a>
                                            <a class="dropdown-item" href="#!">Export</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#!">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>     
    </div>
    <div class="card-footer border-0">
         <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1">
            <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p>
                <a class="fw-semi-bold" href="#!" data-list-view="*">
                    View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
                </a>
                <a class="fw-semi-bold d-none" href="#!" data-list-view="less">
                    View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
                </a>
            </div>
            <div class="d-flex">
                <button class="page-link" data-list-pagination="prev">
                    <span class="fas fa-chevron-left"></span>
                </button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next">
                    <span class="fas fa-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>